[submodule "chicago"]
	path = chicago
	url = https://github.com/pyladies/pyladies-chicago-website.git
	branch = gh-pages
[submodule "nyc"]
	path = nyc
	url = https://github.com/pyladies/pyladies-nyc-website.git
	branch = gh-pages
[submodule "uruguay"]
	path = uruguay
	url = https://github.com/pyladies/pyladies-uy-website.git
	branch = gh-pages
[submodule "dublin"]
	path = dublin
	url = https://github.com/pyladies/pyladies-dublin-website.git
	branch = gh-pages
[submodule "saocarlos"]
	path = saocarlos
	url = https://github.com/pyladies/pyladies-sao-carlos-website.git
	branch = gh-pages
[submodule "hamburg"]
	path = hamburg
	url = https://github.com/pyladies/pyladies-hamburg-website.git
	branch = gh-pages
[submodule "oakland"]
	path = oakland
	url = https://github.com/pyladies/pyladies-oakland-website
	branch = gh-pages
[submodule "madrid"]
	path = madrid
	url = https://github.com/pyladies/pyladies-madrid-website
	branch = gh-pages
[submodule "chennai"]
	path = chennai
	url = https://github.com/pyladies/pyladies-chennai-website
	branch = gh-pages
[submodule "cochabamba"]
	path = cochabamba
	url = https://github.com/pyladies/pyladies-cochabamba-website
	branch = gh-pages
[submodule "hermosillo"]
	path = hermosillo
	url = https://github.com/pyladies/pyladies-hermosillo-website
	branch = gh-pages
	
