[submodule "chicago"]
	path = chicago
	url = https://github.com/pyladies/pyladies-chicago-website.git
	branch = gh-pages
[submodule "nyc"]
	path = nyc
	url = https://github.com/pyladies/pyladies-nyc-website.git
	branch = gh-pages
[submodule "uruguay"]
	path = uruguay
	url = https://github.com/pyladies/pyladies-uy-website.git
	branch = gh-pages
[submodule "dublin"]
	path = dublin
	url = https://github.com/pyladies/pyladies-dublin-website.git
	branch = gh-pages
[submodule "saocarlos"]
	path = saocarlos
	url = https://github.com/pyladies/pyladies-sao-carlos-website.git
	branch = gh-pages
[submodule "madrid"]
	path = madrid
	url = https://github.com/PyLadiesMadrid/pyladiesmadrid.git
	branch = main
